@using Entities.Models
@using Entities.ViewModels
@using Entities.ViewModels.Products
@{
    ViewData["Title"] = "Chi tiết chiến dịch FlashSale";
    FlashSale detail = (FlashSale)ViewBag.Detail;
    List<FlashSaleProduct> products = (List<FlashSaleProduct>)ViewBag.Products;
    List<ProductMongoDbModel> products_mongo = (List<ProductMongoDbModel>)ViewBag.ProductsDetail;
    var from = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0);
    var to = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 23, 59, 59);
    string StaticDomain = (string)ViewBag.StaticDomain;
    var active_product = (products != null && products.Count > 0 ? products.Count(x => x.Status == 1) : 0);
    Supplier supplier = (Supplier)ViewBag.Supplier;

}
<section class="main-container main-products add-product main-order">
    <input style="display:none;" id="flashsale-detail" value="@(detail!=null && detail.Id>0? detail.Id.ToString():"0")" />
    <div class="row-main container">
        <div class="bg-white p-3 mb-3 tongquan">
            <h5 class="bold mb-3">Thông tin cơ bản</h5>
            <div class="flex gap10 align-items-center mb-3">
                <div class="w-200px">Tên chiến dịch</div>
                <div id="supplier-id" class="flex gap10 align-items-center" style="min-width:400px;">
                    <input id="flashsale-name" class="form-control" placeholder="Tên chiến dịch" value="@(detail!=null && detail.Id>0? detail.Name:"")">

                </div>
            </div>
            <div class="flex gap10 align-items-center mb-3">
                <div class="w-200px">Thời gian</div>
                <div class="flex gap10 align-items-center mb-3 flashsale-search" style="display: contents;">
                    <label> Từ </label>
                    <div class="datetime">
                        <i class="icofont-calendar"></i>
                        <input id="flashsale-search-fromdate" class="form-control" placeholder="Thời gian bắt đầu" value="@(detail!=null && detail.Id>0? detail.FromDate.ToString("dd/MM/yyyy HH:mm"):from.ToString("dd/MM/yyyy HH:mm"))">
                    </div>
                    <label> đến </label>
                    <div class="datetime">
                        <i class="icofont-calendar"></i>
                        <input id="flashsale-search-todate" class="form-control" placeholder="Thời gian kết thúc" value="@(detail!=null && detail.Id>0? detail.ToDate.ToString("dd/MM/yyyy HH:mm"):to.ToString("dd/MM/yyyy HH:mm"))">
                    </div>
                </div>
            </div>
            <div class="flex gap10 align-items-center mb-3">
                <div class="w-200px">Nhà cung cấp</div>
                <div id="supplier-id" class="flex gap10 align-items-center" style="min-width:400px;">
                    <select class="select2 w-100">
                        @if (supplier != null && supplier.SupplierId > 0)
                        {
                            <option value="@supplier.SupplierId" selected> @supplier.FullName </option>

                        }
                    </select>
                </div>
            </div>
            <div class="flex gap10 align-items-center mb-3">
                <div class="w-200px">Bật / Tắt</div>
                <div id="status" class="flex gap10 align-items-center" style="min-width:400px;">
                    <td>
                        <label class="switch no-text">
                            <input type="checkbox" @(detail != null && detail.Status ==1 ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </div>
            </div>
            <div class="flex gap10 align-items-center mb-3">
                <div class="w-200px">Banner</div>
                <div id="images" class="flex gap10 align-items-center" style="min-width:400px;">
                    <div class="manage-color  w-100" style="max-height:200px;">
                        <div class="flex list align-items-center w-100">
                            <div class="items import magnific_popup" style="width: 500px; height: 123px; ">
                                <a id="update-icon-import" href="javascript:;" class="thumb_img thumb_1x1 magnific_thumb" style="min-height: 123px !important;padding-bottom: 0px;">
                                    @{
                                        if (detail != null && detail.Banner != null)
                                        {
                                            var img_src = detail.Banner;
                                            if (img_src != null && !img_src.Contains(StaticDomain) && !img_src.Contains("data:image") && !img_src.Contains("http"))
                                                img_src = StaticDomain + detail.Banner;
                                            <img src="@img_src" style="">
                                        }
                                        else
                                        {
                                            <img src="/images/upload.png" style="top:40%;object-fit:scale-down;">
                                        }
                                    }
                                </a>
                                <input type="file" id="update-icon-input" style="display:none;" class="form-control" />
                            </div>
                           
                        </div>
                    </div>
                </div>
               
            </div>
            @*  <div class="flex flex-md-nowrap gap10 mb-3">
            <div class="w-200px">Tiêu chí sản phẩm</div>
            <div class="w-100">
            <div class="box-tieuchi">
            <h5>Tất cả Tiêu chí sản phẩm</h5>
            <ul class="mt-3 mb-0">
            <li>Số lượng khuyến mãi:1~1000</li>
            <li>Số lượng khuyến mãi:1~1000</li>
            <li>Số lượng khuyến mãi:1~1000</li>
            <li>Số lượng khuyến mãi:1~1000</li>
            <li>Số lượng khuyến mãi:1~1000</li>
            <li>Số lượng khuyến mãi:1~1000</li>
            </ul>
            </div>
            </div>
            </div> *@
        </div>
        <div class="bg-white p-3 mb-3">
            <div class="flex justify-content-between align-items-center mb-3">
                <div>
                    <h5 class="bold">Sản phẩm tham gia Flash Sale của Shop</h5>
                    <div class="text-secondary">Chạy chương trình Flash Sale để tăng doanh số.</div>
                </div>
                <a id="add-flashsale-btn" href="javascript:;" class="btn btn-add"><i class="icofont-plus mr-2"></i>Thêm sản phẩm</a>
            </div>
            <div id="flashsale" class="box-edit mt-3">
                <div class="table-responsive table-default">
                    <table class="table text-center table-nowrap  w-100">
                        <thead>
                            <tr id="flashsale-detail-apply-all">
                                <td colspan="3" class="text-left">
                                    <h6>Chỉnh sửa hàng loạt</h6>
                                    <small class="text-secondary">
                                        Bạn đã chọn <nw class="count">0</nw>/10 sản phẩm cho khung giờ
                                        này
                                    </small><br />
                                    <a href="javascript:;" class="btn btn-base btn-round mt-2">Cập nhật hàng loạt</a>
                                </td>
                                <td colspan="1">
                                    <h6>Khuyến mãi</h6>
                                    <div class="flex gap10 flex-nowrap align-items-center" style="place-self: anchor-center;">
                                        <div class="form-group mb-0 price">
                                            <input type="text" class="form-control flashsale-applyall-tr-vnd" placeholder="Nhập số">
                                            <span class="note">đ</span>
                                        </div>
                                        <span>hoặc</span>
                                        <div class="form-group mb-0 price">
                                            <input type="text" class="form-control flashsale-applyall-tr-percent" placeholder="Nhập số">
                                            <span class="note">%</span>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
         
                                <td>
                                    <label class="switch no-text">
                                        <input class="flashsale-applyall-tr-status" type="checkbox" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <a class="icon-action flashsale-applyall-tr-deleteall" href="javascript:;"><i class="icofont-trash"></i></a>
                                </td>
                            </tr>
                            <tr class="thead">
                                <td style="max-width: 0">
                                    <label class="check-list mb20 check-list-all">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="text-left">Phân loại hàng</td>
                                <td>Giá gốc</td>
                                <td>Khuyễn mãi</td>
                                <td>Giá đã giảm</td>
                                <td>Vị trí</td>
                                <td>Bật/tắt</td>
                                <td>Hành động</td>
                            </tr>
                        </thead>
                        <tbody id="flashsale-data-tr-product-body">
                            @if (products != null && products.Count > 0)
                            {
                                foreach (var item in products)
                                {
                                    var selected = products_mongo.FirstOrDefault(x => x._id.Trim().ToLower() == item.ProductId.Trim().ToLower());
                                    double amount = 0;
                                    if (selected != null && selected._id != null)
                                    {
                                        if (selected.amount_min != null && selected.amount_min > 0)
                                        {
                                            amount = (double)selected.amount_min;
                                        }
                                        else if (selected.amount > 0)
                                        {
                                            amount = selected.amount;
                                        }
                                    }

                                    <tr class="flashsale-data-tr-product" data-id="@item.Id" data-product="@item.ProductId" data-amount="@amount">
                                        <td colspan="10" class="p-0">
                                            <table class="table text-center table-nowrap  w-100">
                                                <tbody>
                                                    <tr>
                                                        <td style="max-width: 0">
                                                            <label class="check-list mb20 mr25">
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </td>
                                                        <td colspan="9">
                                                            <div class="item-order">
                                                                <div class="img">
                                                                    @{
                                                                        if (selected != null && selected._id != null)
                                                                        {
                                                                            var img_src = selected.avatar;
                                                                            if (img_src != null && !img_src.Contains(StaticDomain) && !img_src.Contains("data:image") && !img_src.Contains("http"))
                                                                                img_src = StaticDomain + selected.avatar;
                                                                            <img src="@img_src" alt="">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="/images/graphics/product.jpg" alt="">
                                                                        }
                                                                    }
                                                                </div>
                                                                <div class="info">
                                                                    <h3 class="name-product">
                                                                        @(selected != null && selected._id != null && selected.name != null ? selected.name : "")
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td class="text-right" style="min-width: 180px;">@amount.ToString("N0")</td>
                                                        <td colspan="2">
                                                            <div class="flex gap10 flex-nowrap align-items-center " style="justify-self: anchor-center;">
                                                                <div class="form-group mb-0 price">
                                                                    @{
                                                                        if (item.ValueType == 0)
                                                                        {
                                                                            <input type="text" class="form-control flashsale-data-tr-vnd" placeholder="Nhập số" value="@((item.DiscountValue==null?0: (double)item.DiscountValue).ToString("N0"))">
                                                                            <span class="note">đ</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" class="form-control flashsale-data-tr-vnd" placeholder="Nhập số">
                                                                            <span class="note">đ</span>
                                                                        }
                                                                    }
                                                                </div>
                                                                <span>hoặc</span>
                                                                <div class="form-group mb-0 price">
                                                                    @{
                                                                        if (item.ValueType == 1)
                                                                        {
                                                                            <input type="text" class="form-control flashsale-data-tr-percent" placeholder="Nhập số" value="@((item.DiscountValue==null?0: (double)item.DiscountValue).ToString("N2"))">
                                                                            <span class="note">%</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" class="form-control flashsale-data-tr-percent" placeholder="Nhập số">
                                                                            <span class="note">%</span>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="flashsale-data-tr-final-amount">
                                                            @{
                                                                var final_amount = amount;

                                                                if (item.ValueType == 0)
                                                                {
                                                                    final_amount = amount - (item.DiscountValue == null ? 0 : (double)item.DiscountValue);
                                                                }
                                                                else
                                                                {
                                                                    final_amount = amount - Math.Round((amount * (item.DiscountValue == null ? 0 : (double)item.DiscountValue) / 100), 0);

                                                                }
                                                            }
                                                            @final_amount.ToString("N0") đ
                                                        </td>
                                                        <td class="tr-index">@item.Position</td>

                                                        <td>
                                                            <label class="switch no-text">
                                                                <input class="flashsale-data-tr-status" type="checkbox" @(item != null && item.Status != null && item.Status == 1 ? "checked" : "")>
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <div class="flex gap10 align-items-center justify-content-center">
                                                                <a class="icon-action  delete-row" href="javascript:;"><i class="icofont-trash"></i></a>
                                                                <a class="icon-action flashsale-drag" href="javascript:;"><i class="icofont-drag"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="action-form">
        <a id="flashsale-detail-cancel" href="javascript:;" class="btn btn-round btn-outline-base btn-hide">Hủy</a>
        <a id="flashsale-detail-confirm" href="javascript:;" class="btn btn-round btn-base btn-update">Xác nhận</a>

    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/modules/flashsale/detail.js"></script>
}

