@using Entities.ViewModels;
@using Entities.ViewModels.FlashSales
@using Entities.ViewModels.Label;
@using Utilities.Contants
@{
    Layout = null;
    string StaticDomain = (string)ViewBag.StaticDomain;

}
@model GenericViewModel<FlashSaleListingModel>
<input id="total-record" style="display:none;" value="@Model.TotalRecord"/>
<div class="table-responsive table-default">
    <table class="table text-center table-nowrap  w-100">
        <thead>
            <tr>

                <th style="width: 200px">Ngày</th>
                <th style="width: 200px">Nhà cung cấp</th>
                <th style="width: 200px">Sản phẩm</th>
                <th style="width: 200px">Trạng thái</th>
                <th style="width: 200px">Bật / Tắt</th>
                <th style="width: 200px">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.ListData != null && Model.ListData.Count > 0)
            {
                foreach (var item in Model.ListData)
                {
                    <tr data-id="@item.Id">

                        <td>@(item.FromDate.ToString("dd/MM/yyyy HH:mm")) - @(item.ToDate.ToString("dd/MM/yyyy HH:mm"))</td>
                        <td class="text-center">@item.SupplierName</td>

                        <td class="text-left">
                            Bật Flash sale <span class="text-danger">@item.ActiveFlashSaleProductCount.ToString("N0")</span><br />
                            <small class="text-secondary">Số sản phẩm tham gia: @item.FlashSaleProductCount.ToString("N0")</small>
                        </td>
                        <td class="text-center">
                            @{
                                var now = DateTime.Now;
                                if(now>=item.FromDate && now <= item.ToDate)
                                {
                                    <div class="status-green">Đang diễn ra</div>
                                }
                                else if (now <= item.FromDate && now <= item.ToDate)
                                {
                                    <div class="status-gray">Sắp diễn ra</div>
                                }
                                else if (now >= item.ToDate)
                                {
                                    <div class="status-red">Đã kết thúc</div>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <label class="switch no-text">
                                @if (item.Status == (int)SUPPLIER_STATUS.CONFIRMED)
                                {
                                    <input type="checkbox" checked>
                                }
                                else {

                                    <input type="checkbox" checked>
                                }
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td class="text-center">
                            <a href="/flashsale/detail/@item.Id" class="text-primary flashsale-viewdetail">Chi tiết</a><br />
                            @* <a href="javascript:;" class="text-primary flashsale-clonedetail">Sao chép</a><br />
                            <a href="javascript:;" class="text-primary flashsale-datadetail">Dữ liệu</a> *@
                        </td>
                    </tr>
                }
            }
           
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("PagingNew", new
    {
        pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "chiến dịch",
        PageAction = "flashsale.OnPaging({0})",
        PageSelectPageSize = "flashsale.onSelectPageSize()"
    }
    })

