@using Entities.Models
@{
    Layout = null;
    Label data = (Label)ViewBag.Data;
    if (data == null) data = new Label();
    string StaticDomain = (string)ViewBag.StaticDomain;
    List<string> banner_sub = (List<string>)ViewBag.BannerSub;
    string static_url = StaticDomain;
    string url_fixed = "";

}

<div id="form_label">
    <input style="display:none;" id="update-detail" value="@data.Id" />
    <div class="row row_min">
        <div class="grid-item col-md-6">
            <div class="border mb20">
                <div class="lb-form">Thông tin cơ bản</div>
                <div class="pd10">
                    <div class="form-group">
                        <label class="lbl">Mã thương hiệu <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <input type="text" id="update-code" class="form-control" value="@(data.LabelCode==null?"":data.LabelCode)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Tên thương hiệu <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <input type="text" id="update-name" class="form-control" value="@(data.LabelName==null?"":data.LabelName)" />
                        </div>
                    </div>
                    
                   
                    <div class="form-group">
                        <label class="lbl">Trạng thái</label>
                        <div class="wrap_input">
                            <select id="update-status" class="select2 form-control">
                                @if(data.Status==null ||data.Status==0)
                                {
                                    <option value="0" selected>Hoạt động</option>
                                }
                                else
                                {
                                    <option value="0">Hoạt động</option>
                                }
                                @if ( data.Status == 1)
                                {
                                    <option value="1" selected>Tạm ngưng</option>
                                }
                                else
                                {
                                    <option value="1">Tạm ngưng</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Vị trí hiển thị thương hiệu</label>
                        <div class="wrap_input">
                            <input type="number" id="update-position" class="form-control" min="0" max="10" value="@(data.Position == null ? "0" : data.Position)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Vị trí hiển thị trong ShopMall nổi bật</label>
                        <div class="wrap_input">
                            <input type="number" id="update-shopmall-position" class="form-control" min="0" max="10" value="@(data.ShopMallPosition == null ? "0" : data.ShopMallPosition)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Mô tả thương hiệu</label>
                        <div class="wrap_input">
                            <textarea id="update-description" class="form-control" style="height: 200px;" rows="6">@(data.Description==null?"":data.Description)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item col-md-6">
            <div class="border mb20">
                <div class="lb-form">Thông tin bổ sung</div>
                <div class="pd10">
                    <div class="form-group">
                        <label class="lbl">Ảnh đại diện thương hiệu <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <div class="manage-color  w-100" style="max-height:200px;">
                                <div class="flex list align-items-center w-100">
                                    <div class="items import magnific_popup" style=" min-width: 130px; min-height: 130px;max-width: 200px; max-height: 200px; ">
                                        <a id="update-icon-import" href="javascript:;" class="thumb_img thumb_1x1 magnific_thumb">
                                            <img src="@(data.Icon==null?"/images/upload.png":data.Icon)" style="@(data.Icon==null?"top:40%;object-fit:scale-down;":"") ">
                                        </a>
                                        <input type="file" id="update-icon-input" style="display:none;" class="form-control" />
                                    </div>
                                    <div class="import magnific_popup">
                                        <span>(Click vào hình ảnh để @(data.Id > 0 && data.Icon != null && data.Icon.Trim() != "" ? "thay đổi" : "thêm"))</span>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="update-icon" class="form-control" disabled value="@(data.Icon==null?"":data.Icon)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Logo thương hiệu <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <div class="manage-color  w-100" style="max-height:200px;">
                                <div class="flex list align-items-center w-100">
                                    <div class="items import magnific_popup" style=" min-width: 130px; min-height: 130px;max-width: 200px; max-height: 200px; ">
                                        <a id="update-avatar-import" href="javascript:;" class="thumb_img thumb_1x1 magnific_thumb">
                                            <img src="@(data.Avatar==null?"/images/upload.png":data.Avatar)" style="@(data.Avatar==null?"top:40%;object-fit:scale-down;":"") ">
                                        </a>
                                        <input type="file" id="update-avatar-input" style="display:none;" class="form-control" />
                                    </div>
                                    <div class="import magnific_popup">
                                        <span>(Click vào hình ảnh để @(data.Id > 0 && data.Avatar != null && data.Avatar.Trim() != "" ? "thay đổi" : "thêm"))</span>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="update-avatar" class="form-control" disabled value="@(data.Avatar==null?"":data.Avatar)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Banner Quảng cáo thương hiệu <sup class="red">*</sup></label>
                        <div class="wrap_input">
                            <div class="manage-color  w-100" style="max-height:200px;">
                                <div class="flex list align-items-center w-100">
                                    <div class="items import magnific_popup" style="width: 500px; height: 123px; ">
                                        <a id="update-banner-import" href="javascript:;" class="thumb_img thumb_1x1 magnific_thumb" style="min-height: 123px !important;padding-bottom: 0px;">
                                            @{
                                                if (data != null && data.Banner != null)
                                                {
                                                    var img_src = data.Banner;
                                                    if (img_src != null && !img_src.Contains(StaticDomain) && !img_src.Contains("data:image") && !img_src.Contains("http"))
                                                        img_src = StaticDomain + data.Banner;
                                                    <img src="@img_src" style="top:0;object-fit:fill;">
                                                }
                                                else
                                                {
                                                    <img src="/images/upload.png" style="top:40%;object-fit:scale-down;">
                                                }
                                            }
                                        </a>
                                        <input type="file" id="update-banner-input" style="display:none;" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">ParentId</label>
                        <div class="wrap_input">
                            <input type="number" id="update-parentid" class="form-control" value="@(data.ParentId==null?"":data.ParentId)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">Level</label>
                        <div class="wrap_input">
                            <input type="number" id="update-level" class="form-control" value="@(data.Level==null?"":data.Level)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lbl">UserSupplierId</label>
                        <div class="wrap_input">
                            <input type="number" id="update-userSupplierId" class="form-control" value="@(data.UserSupplierId==null?"":data.UserSupplierId)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-main" class="grid-item col-md-12">
            <div class="border mb20">
                <div class="lb-form">Banner chính trong trang thương hiệu</div>
                <div class="pd10">
                    <div class="item row flex-lg-nowrap gap10 mb-4 w-100">
                        <label class="col-2" style="align-content: center;padding-left: 15px;">Banner chính<br />(900 x 250)</label>
                        <div class="col-10 wrap_input">
                            <div class="row list w-100" style="gap: 0;">
                                @{
                                    if (data.BannerMain != null && data.BannerMain.Trim()!="")
                                    {
                                        url_fixed = data.BannerMain;
                                        if (!url_fixed.Contains(static_url)
                                        && !url_fixed.Contains("base64")
                                        && !url_fixed.Contains("data:video"))
                                        {
                                            url_fixed = static_url + data.BannerMain;
                                        }
                                    }
                                }
                               
                                <div class="col-md-3 @((data.BannerMain != null && data.BannerMain.Trim() != "") ? "" : " items import")" style=" margin-right: 15px; " id="banner-main">
                                    <div class="w-100 items magnific_popup" style="@((data.BannerMain != null && data.BannerMain.Trim()!="") ? "" : "display:none;")">
                                        <button type="button" class="delete"><i class="icofont-close-line"></i></button>
                                        <a class=" magnific_thumb">
                                            <img src="@url_fixed">
                                        </a>
                                    </div>
                                    <label class="choose choose-wrap p-5 rounded" style="@((data.BannerMain != null && data.BannerMain.Trim() != "") ? "display:none;" : "")">
                                        <input class="banner-file" type="file" name="myFile">
                                        <div class="choose-content">
                                            <h4><i class="icofont-image text-lg"></i></h4>
                                        </div>
                                    </label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div id="banner-sub" class="grid-item col-md-12">
            <div class="border mb20">
                <div class="lb-form">Banner phụ trong trang thương hiệu</div>
                <div class="pd10">
                    <div class="item row flex-lg-nowrap gap10 mb-4 w-100">
                        <label class="col-2" style="align-content: center;padding-left: 15px;">
                            Banner phụ<br />(Tỷ lệ 2:1)
                        </label>
                        <div class="col-10 wrap_input">
                            <div class="row list w-100" style="gap: 0;" id="banner-sub">
                                @for (int i = 0; i < 3; i++)
                                {
                                    url_fixed = "";
                                    if (banner_sub != null && banner_sub.Count > i && banner_sub[i] != null&& banner_sub[i].Trim() != "")
                                    {
                                        url_fixed = banner_sub[i];
                                        if (!url_fixed.Contains(static_url)
                                        && !url_fixed.Contains("base64")
                                        && !url_fixed.Contains("data:video"))
                                        {
                                            url_fixed = static_url + banner_sub[i];
                                        }
                                    }
                                    <div class="col-md-3 @((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null && banner_sub[i].Trim() != "") ? "" : " items import")" style=" margin-right: 15px; ">
                                        <div class="w-100 items magnific_popup" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null && banner_sub[i].Trim() != "") ? "" : "display:none;")">
                                            <button type="button" class="delete"><i class="icofont-close-line"></i></button>
                                            <a class=" magnific_thumb">
                                                <img src="@url_fixed">
                                            </a>
                                        </div>
                                        <label class="choose choose-wrap p-5 rounded" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null && banner_sub[i].Trim() != "") ? "display:none;" : "")">
                                            <input class="banner-file" type="file" name="myFile">
                                            <div class="choose-content">
                                                <h4><i class="icofont-image text-lg"></i></h4>
                                            </div>
                                        </label>
                                    </div>
                                }


                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="text-right">
    <button type="button" class="btn btn-default btn btn-default cancel" data-dismiss="modal">Hủy</button>
    <button type="button" class="btn btn-default" onclick="label_detail.Update()">@(data.Id > 0 ? "Cập nhật" : "Thêm mới")</button>

</div>
