@{
    ViewData["Title"] = "Chi tiết nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<User> users = (List<User>)ViewBag.Users;
}
@using Entities.Models
@using Entities.ViewModels.Funding
@using Utilities.Contants
@model SupplierDetailViewModel

<style>
    .main-pad-top {
        padding-top: 121px;
    }
</style>

<section style="overflow-x: hidden;">
    <div class="row-main container">
        <input type="hidden" id="global_supplier_id" value="@Model.SupplierId" />
        <h2 class="txt_18 bold mb10">Chi tiết nhà cung cấp</h2>
        <div class="table-responsive table-white">
            <table class="table table-nowrap">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <div style="width:100%">
                                <strong>@Model.FullName</strong>
                                <strong style="float: right;"><a class="blue edit-supplier-detail" href="javascript:;" onclick="_supplier_service.ShowAddOrUpdate('@Model.SupplierId')"><i class="fa fa-edit blue"></i></a></strong>

                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="min-width: 400px;">
                            <div class="row">
                                <div class="col-4 mb10 gray">Mã nhà cung cấp</div>
                                <div class="col-8 mb10">: @Model.SupplierId</div>
                                <div class="col-4 mb10 gray">Điện thoại</div>
                                <div class="col-8 mb10">: @Model.Phone</div>
                                <div class="col-4 mb10 gray">Email</div>
                                <div class="col-8 mb10">: @Model.Email</div>
                                <div class="col-4 mb10 gray">Địa điểm</div>
                                <div class="col-8 mb10">: @Model.Address</div>
                                @*  <div class="col-4 mb10 gray">Khách sạn</div>
                                <div class="col-8 mb10">: N/A</div>
                                <div class="col-4 mb10 gray">Tour du lịch</div>
                                <div class="col-8 mb10">: N/A</div> *@
                            </div>
                        </td>
                        <td style="min-width: 400px;">
                            <div class="row">
                                <div class="col-4 mb10 gray">Người tạo</div>
                                <div class="col-8 mb10">: @Model.CreatedByName</div>
                                <div class="col-4 mb10 gray">Ngày tạo</div>
                                <div class="col-8 mb10">: @(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</div>
                                <div class="col-4 mb10 gray">Người cập nhật</div>
                                <div class="col-8 mb10">: @Model.UpdatedByName</div>
                                <div class="col-4 mb10 gray">Ngày cập nhật</div>
                                <div class="col-8 mb10">: @(Model.UpdatedDate.HasValue ? Model.UpdatedDate.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-default nav nav-tabs">
            <a class="active" href="#tab-users" data-toggle="tab">Tài khoản</a>
            @*<a href="#tab-payment" data-toggle="tab">Thông tin thanh toán</a>
            <a href="#tab-contact" data-toggle="tab">Liên hệ</a>
            <a href="#tab-service" data-toggle="tab">Danh sách dịch vụ</a>
            <a href="#tab-program" data-toggle="tab">Chương trình</a>
            <a href="#tab-price" data-toggle="tab">Bảng giá</a>
            <a href="#tab-ticket" data-toggle="tab">Phiếu chi liên quan</a>*@
        </div>
        <div class="tab-content">
            @* <div class="tab-pane show active" id="tab-order" role="tabpanel">
            <div class="row">
            <div class="col-md-12" id="grid_supplier_order">
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-payment" role="tabpanel">
            <div class="row">
            <div class="col-md-12 mb10">
            <button type="button" class="btn btn-success min"
            onclick="_supplier_payment.OnAddOrUpdate(0)">
            Thêm thông tin thanh toán
            </button>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12" id="grid_supplier_payment">
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-contact" role="tabpanel">
            <div class="row">
            <div class="col-md-12 mb10">
            <button type="button" class="btn btn-success min"
            onclick="_supplier_contact.OnAddOrUpdate(0)">
            Thêm liên hệ
            </button>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12" id="grid_supplier_contact">
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-service" role="tabpanel">
            <div class="row">
            <div class="col-md-12 mb10">
            <button type="button" class="btn btn-success min mr-2"
            onclick="_supplier_service_detail.OnAddOrUpdate()">
            Cập nhật dịch vụ
            </button>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdo_supplie_service" id="rdo_supplie_service" checked
            onchange="_supplier_service_detail.OnChangeServiceType(1)" />
            <label class="form-check-label" for="inlineRadio1">Khách sạn</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdo_supplie_service" id="rdo_supplie_service"
            onchange="_supplier_service_detail.OnChangeServiceType(5)" />
            <label class="form-check-label" for="inlineRadio2">Tour du lịch</label>
            </div>
            <div class="form-check-inline">
            <input type="text" class="form-control" placeholder="Tìm kiếm nhanh theo tên dịch vụ " onkeyup="_supplier_service_detail.OnKeyUpSearchName(event);" style="width: 250px;">
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12" id="grid_supplier_service_detail">
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-program" role="tabpanel">
            @*<div class="row">
            <div class="col-md-12 mb10">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdo_supplie_program" id="rdo_supplie_program" checked
            onchange="_supplier_program.OnChangeServiceType('1')" />
            <label class="form-check-label">Khách sạn</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rdo_supplie_program" id="rdo_supplie_program"
            onchange="_supplier_program.OnChangeServiceType('5')" />
            <label class="form-check-label">Tour du lịch</label>
            </div>
            <div class="form-check-inline">
            <input type="text" class="form-control" placeholder="Tìm kiếm nhanh theo mã chương trình"
            onkeyup="_supplier_program.OnKeyUpSearchProgramCode(event);" style="width: 250px;">
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12" id="grid_supplier_program">
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-price" role="tabpanel">
            <div class="row">
            <div class="col-md-12">
            <h1>tab - Bảng giá</h1>
            </div>
            </div>
            </div>

            <div class="tab-pane" id="tab-ticket" role="tabpanel">
            <div class="row">
            <div class="col-md-12" id="grid_supplier_ticket">
            </div>
            </div>
            </div>*@
            <div class="tab-pane active" id="tab-users" role="tabpanel">
                <div class="row" style="width: 100%;">
                    <div class="mb10 col-md-6">
                        <button id="tab-users-add" type="button" class="btn btn-default"> <i class="fa fa-plus"></i>Thêm tài khoản mới</button>

                    </div>
                    <div class="mb10 col-md-6" style=" display: flex; justify-content: right; ">
                        <input id="tab-users-search-input" type="text" class="form-control" placeholder="Tìm kiếm theo tên đăng nhập, tên nhân viên" style="width: 400px;" autocomplete="off">
                        <button id="tab-users-search" type="button" class="btn btn-default">
                            <svg class="icon-svg" style="vertical-align: sub;">
                                <use xlink:href="/images/icons/icon.svg#search"></use>
                            </svg>
                        </button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="grid-users">
                        <div class="wrap_bg wrap_bg_no-padding mb20">
                            <div class="table-responsive table-default">
                                <table class="table table-nowrap  w-100">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px;">
                                                STT
                                            </th>
                                            <th style="width: 20%">Tên nhân viên</th>
                                            <th style="width: 25%">Tên tài khoản</th>
                                            <th style="width: 25%">Mật khẩu</th>
                                            <th style="width: 20%" class="text-center">Trạng thái</th>
                                            <th style="" class="text-center">Thao tác</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if(users!=null && users.Count > 0)
                                        {
                                            int count = 0;
                                            foreach(var u in users)
                                            {
                                                <tr class="tab-users-tr" data-id="@u.Id">
                                                    <td class="count">
                                                        @(++count)
                                                    </td>
                                                    <td class="fullname">
                                                        <div class="flex gap10 flex-nowrap align-items-center justify-content-center">
                                                            <div class="form-group mb-0" style=" width: 100%; ">
                                                                <input type="text" class="form-control" value="@u.FullName" disabled />
                                                                <span class="error" style="padding: 0 3px;display:none;">
                                                                    Vui lòng không để trống
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="username">
                                                        <div class="flex gap10 flex-nowrap align-items-center justify-content-center">
                                                            <div class="form-group mb-0" style=" width: 100%; ">
                                                                <nw style=" display: flex; ">
                                                                    <span style=" align-content: center; "> @("ncc"+Model.SupplierId+".")</span>
                                                                    <input type="text" class="form-control" value="minh.nq" disabled="" autocomplete="off" style="margin-left: 0;"> 
                                                                </nw>
                                                                <span class="error" style="padding: 0 3px;display:none;">
                                                                    Vui lòng không để trống
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="password">
                                                        <div class="flex gap10 flex-nowrap align-items-center justify-content-center">
                                                            <div class="form-group mb-0" style=" width: 100%; ">
                                                                <input type="password" class="form-control" value="@u.Password" disabled />
                                                                <span class="error" style="padding: 0 3px;display:none;">
                                                                    Vui lòng không để trống
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="status">
                                                        <div class="wrap_input">
                                                            <div class="form-group mb-0" style=" width: 100%; ">
                                                                <select class="select2 w-100" disabled>
                                                                    @if (u.Status == (int)Status.HOAT_DONG)
                                                                    {
                                                                        <option value="0" selected>Hoạt động</option>
                                                                    }else{
                                                                        <option value="0">Hoạt động</option>
                                                                    }
                                                                    @if (u.Status == (int)Status.KHONG_HOAT_DONG)
                                                                    {
                                                                        <option value="1" selected>Tạm dừng</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="1">Tạm dừng</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="flex gap10 flex-nowrap align-items-center justify-content-center">
                                                            <a href="javascript:;" class="tab-users-tr-edit"><i class="fa fa-edit blue"></i></a>
                                                            <a href="javascript:;" class="tab-users-tr-confirm" style="display:none;"><i class="fa fa-check green"></i></a>
                                                            @*<a href="javascript:;"><i class="icofont-trash"></i></a>*@
                                                        </div>


                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/modules/supplier_detail.js"></script>
    <script type="text/javascript" src="~/modules/supplier.js"></script>
}
