@{
    ViewData["Title"] = "Chỉnh sửa giao diện trang chủ - BestMall";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string static_url = (string)ViewBag.Static;
    List<string> banner_slide = (List<string>)ViewBag.BannerSlide;
    List<string> banner_sub = (List<string>)ViewBag.BannerSub;

}
<section class="main-container add-banner add-product">

    <div class="row-main container">
        <div class="box-info bg-white p-3 mb-3">
            <h4 class="title-box mb-3">Banner Slide đầu trang chủ</h4>
            <a href="javascript:;" class="float-right color-blue">Xem trước</a>
            <h5 class="mb-3">Hình ảnh sản phẩm</h5>
            <div class="item row flex-lg-nowrap gap10 mb-4 w-100">
                <label class="col-2">Banner chính<br />(1200x360px)</label>
                <div class="col-10 wrap_input">
                    <div class="row list w-100" style="gap: 0;">
                        @for (int i = 0; i < 3; i++)
                        {
                            string url_fixed = "";
                            if (banner_slide != null && banner_slide.Count > i && banner_slide[i] != null)
                            {
                                url_fixed = banner_sub[0];
                                if (!url_fixed.Contains(static_url)
                                && !url_fixed.Contains("base64")
                                && !url_fixed.Contains("data:video"))
                                {
                                    url_fixed = static_url + banner_slide[0];
                                }
                            }
                            <div class="col-md-3 @((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "" : " items import")" style=" margin-right: 15px; ">
                                <div class="w-100 items magnific_popup" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "" : "display:none;")">
                                    <button type="button" class="delete"><i class="icofont-close-line"></i></button>
                                    <a class=" magnific_thumb">
                                        <img src="@url_fixed">
                                    </a>
                                </div>
                                <label class="choose choose-wrap p-5 rounded" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "display:none;" : "")">
                                    <input class="banner-sub-file" type="file" name="myFile">
                                    <div class="choose-content">
                                        <h4><i class="icofont-image text-lg"></i></h4>
                                    </div>
                                </label>
                            </div>
                        }
                       

                    </div>
                   

                </div>
            </div>
            <div class="item row flex-lg-nowrap gap10  w-100">
                <label class="col-2">Banner phụ <br />(Tỷ lệ 2:1)</label>
                <div class="col-10 wrap_input">
                    <div class="row list w-100" style="gap: 0;">
                        @for (int i = 0; i < 3; i++)
                        {
                            string url_fixed = "";
                            if (banner_slide != null && banner_slide.Count > i && banner_slide[i] != null)
                            {
                                url_fixed = banner_sub[0];
                                if (!url_fixed.Contains(static_url)
                                && !url_fixed.Contains("base64")
                                && !url_fixed.Contains("data:video"))
                                {
                                    url_fixed = static_url + banner_slide[0];
                                }
                            }
                            <div class="col-md-2 @((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "" : " items import")" style=" margin-right: 15px; ">
                                <div class="w-100 items magnific_popup" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "" : "display:none;")">
                                    <button type="button" class="delete"><i class="icofont-close-line"></i></button>
                                    <a class=" magnific_thumb">
                                        <img src="@url_fixed">
                                    </a>
                                </div>
                                <label class="choose choose-wrap p-5 rounded" style="@((banner_sub != null && banner_sub.Count > i && banner_sub[i] != null) ? "display:none;" : "")">
                                    <input class="banner-sub-file" type="file" name="myFile">
                                    <div class="choose-content">
                                        <h4><i class="icofont-image text-lg"></i></h4>
                                    </div>
                                </label>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
        <div class="box-info bg-white p-3 mb-3">
            <a href="javascript:;" class="btn btn-add float-right"><i class="icofont-plus-circle"></i>Thêm</a>
            <h4 class="title-box mb-0">Banner ngành hàng<br /> </h4>
            <p>(Tỷ 5:1)</p>
            <div class="item row flex-lg-nowrap gap10 mb-4 w-100">
                <label class="col-2">Banner 1<br />(1200x360px)</label>
                <div class="col-10 wrap_input">
                    <div class="bg-item p-3">
                        <div class="wrap_input flex justify-between">
                            <div class="d-flex align-items-center gap10 w-50">
                                <h4 class="mb-0">Giá ưu đãi</h4>
                                <p class="mb-0">(Tùy chỉnh)</p>
                                <a href="javascript:;" class="edit"><i class="icofont-ui-edit"></i></a>
                            </div>
                            <a href="javascript:;" class="delete"><i class="icofont-close-line"></i></a>
                        </div>
                        <hr>
                        <div class="w-50 items magnific_popup">
                            <button type="button" class="delete"><i class="icofont-close-line"></i></button>
                            <button type="button" class="crop"><i class="icofont-crop"></i></button>
                            <a class=" magnific_thumb">
                                <img src="images/graphics/banner.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item row flex-lg-nowrap gap10 mb-4 w-100">
                <label class="col-2">Banner 2<br />(1200x360px)</label>
                <div class="col-10 wrap_input">
                    <div class="bg-item p-3">
                        <div class="wrap_input flex justify-between">
                            <div class="d-flex gap10 w-50">
                                <div class="form-group w-100 namesp mb-0 bg-white">
                                    <input type="text" class="form-control" value="Giá ưu đãi"
                                           placeholder="Tên ngành hàng">
                                    <span class="note">0/120</span>
                                </div>
                                <a href="javascript:;" class="edit"><i class="icofont-ui-edit"></i></a>
                            </div>
                            <a href="javascript:;" class="delete"><i class="icofont-close-line"></i></a>
                        </div>
                        <hr>
                        <label class="choose choose-wrap p-5 rounded w-50 bg-white">
                            <input type="file" name="myFile">
                            <div class="choose-content">
                                <h4><i class="icofont-image text-lg"></i></h4>
                                <span>Thêm hình ảnh (0/9)</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-form">
            <a href="javascript:;" class="btn btn-round btn-outline-base">Hủy</a>
            <a href="javascript:;" class="btn btn-round btn-base">Cập nhật</a>
        </div>
    </div>
</section>