@{
    Layout = null;
    var time_now = DateTime.Now;
}
@using Entities.Models
@using Entities.ViewModels
@using Entities.ViewModels.Funding
@using Utilities
@using Utilities.Contants
@model GenericViewModel<Voucher>

<div class="table-responsive table-default table-gray">
    <table class="table text-center table-voucher">
        <thead>
            <tr>
                <th class="text-left">Tên Voucher | Mã voucher</th>
                <th>Loại mã</th>
                 <th>Bật / Tắt</th> 
@*                 <th>Người mua<br />mục tiêu</th>
 *@                <th>Giảm giá</th>
                <th>Tổng lượt sử<br /> dụng tối đa</th>
@*                 <th>Đã dùng</th>
 *@                <th>Thời gian lưu mã giảm giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListData != null && Model.ListData.Count > 0)
            {
                var counter = (Model.CurrentPage - 1) * Model.PageSize;
                foreach (var item in Model.ListData)
                {
                    counter++;
                    string price_sale_text = "- " + (item.PriceSales == null ? 0 : (double)item.PriceSales).ToString("N0") + (item.Unit == "vnd" ? " đ" : " %");
                    <tr>
                        <td class="text-left">
                            <div class="img-voucher">
                                <img src="/images/voucher-all.png" alt="">
                                <span>@item.Code</span>
                                <span class="number">@price_sale_text</span>
                            </div>
                            @if (item.Udate <= time_now && item.EDate >= time_now)
                            {
                                <label class="going-on">Đang diễn ra</label>
                            }else if (item.EDate < time_now)
                            {
                                <label class="end">Kết thúc</label>

                            }
                            else if (item.Udate > time_now)
                            {
                                <label class="coming-soon">Sắp diễn ra</label>
                            }
                            <h4 class="name">@item.Name</h4>
                            <p class="code">Nội dung: @item.Description</p>
                            <p class="code">Mã Voucher: @item.Code</p>
                        </td>
                        <td>
                            @switch (item.RuleType)
                            {
                                case 0:
                                    {
                                        <nw>Giảm giá trên tiền hàng</nw>
                                    }break;
                                case 1:
                                    {
                                        <nw>Giảm giá trên phí vận chuyển</nw>

                                    }
                                    break;

                            }

                        </td>
                        <td>
                            <label class="switch no-text">
                                <input disabled type="checkbox" @(item == null || item.IsPublic == null || item.IsPublic == false ? "" : "checked")>
                                <span class="slider round"></span>
                            </label>
                        </td>
@*                         <td>@(item == null || item.GroupUserPriority == null || item.GroupUserPriority.Trim() == "" ? "Tất cả người mua" : item.GroupUserPriority)</td>
 *@                        <td>@price_sale_text.Replace("-","")</td>
                        <td>@item.LimitUse</td>
                        @* <td>0</td>*@                        
                                 <td>@(((DateTime)item.Udate).ToString("HH:mm dd/MM/yyyy") + " - " + ((DateTime)item.EDate).ToString("HH:mm dd/MM/yyyy"))</td>
                        <td>
@*                             <a class="blue" href="#"> Sao chép</a>
                           <br />*@  
                            <a href="/voucher/detail/@item.Id" class="blue">Chỉnh sửa</a>
                            @* <br />
                            <a href="" class="blue">Đơn hàng</a> *@
                        </td>
                    </tr>
                
                
                }
            }

        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Paging", new
{
    pageModel = new Paging()
    {
        TotalRecord = Model.TotalRecord,
        TotalPage = Model.TotalPage,
        CurrentPage = Model.CurrentPage,
        PageSize = Model.PageSize,
        RecordName = "kết quả lọc",
        PageAction = "voucher_index.OnPaging({0})"
    }
})
